In [2]:
import pandas as pd

# Load in 2012 US Voter Data

In [3]:
df = pd.read_csv("2012_US_Voter_data.csv")

# Initial EDA

In [4]:
df.head()

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters
0,Alabama,18 to 24,439000,428000,212000,155000
1,Alabama,25 to 34,576000,535000,359000,271000
2,Alabama,35 to 44,615000,582000,410000,330000
3,Alabama,45 to 64,1297000,1275000,1051000,939000
4,Alabama,65+,667000,660000,523000,459000

In [5]:
df.columns

Index(['State', 'Age', 'Total Population', 'Citizen Population',
       'Registered Voters', 'Confirmed Voters'],
      dtype='object')

In [6]:
df. describe()

,Total Population,Citizen Population,Registered Voters,Confirmed Voters
count,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02
mean,9.225451e+05,8.434706e+05,6.006000e+05,5.213804e+05
std,1.157013e+06,1.007374e+06,7.203145e+05,6.413869e+05
min,5.600000e+04,5.500000e+04,2.100000e+04,1.800000e+04
25%,2.385000e+05,2.240000e+05,1.465000e+05,1.285000e+05
50%,5.680000e+05,5.400000e+05,3.710000e+05,3.030000e+05
75%,1.159000e+06,1.029000e+06,7.655000e+05,6.640000e+05
max,9.356000e+06,7.827000e+06,5.459000e+06,4.926000e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               255 non-null    object
 1   Age                 255 non-null    object
 2   Total Population    255 non-null    int64
 3   Citizen Population  255 non-null    int64
 4   Registered Voters   255 non-null    int64
 5   Confirmed Voters    255 non-null    int64
dtypes: int64(4), object(2)
memory usage: 12.1+ KB

# Lets look into the "Total Population", "Citizen Population", "Registered Voters", "Confirmed Voters"

In [8]:
df.groupby("State").sum()

/tmp/ipykernel_31463/3835537063.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("State").sum()

,Total Population,Citizen Population,Registered Voters,Confirmed Voters
State,,,,
Alabama,3594000,3480000,2555000,2154000
Alaska,516000,495000,360000,289000
Arizona,4863000,4315000,2811000,2412000
Arkansas,2198000,2110000,1376000,1124000
California,28358000,23418000,15356000,13463000
Colorado,3817000,3543000,2635000,2495000
Connecticut,2726000,2500000,1761000,1569000
Delaware,693000,642000,469000,430000
District Of Columbia,517000,461000,385000,351000
Florida,15033000,13326000,9102000,8107000
Georgia,7178000,6738000,4766000,4168000
Hawaii,1012000,930000,547000,481000
Idaho,1129000,1064000,744000,680000
Illinois,9650000,8831000,6424000,5428000
Indiana,4853000,4724000,3270000,2801000
Iowa,2319000,2232000,1745000,1548000
Kansas,2120000,1974000,1467000,1249000
Kentucky,3292000,3193000,2303000,1895000
Louisiana,3320000,3239000,2498000,2149000
Maine,1041000,1020000,787000,699000
Maryland,4449000,4006000,2888000,2610000
Massachusetts,5170000,4773000,3758000,3382000
Michigan,7496000,7228000,5621000,4831000
Minnesota,4054000,3903000,3085000,2859000
Mississippi,2167000,2130000,1795000,1588000
Missouri,4520000,4409000,3383000,2818000
Montana,769000,754000,553000,495000
Nebraska,1371000,1297000,901000,799000
Nevada,2040000,1808000,1175000,1048000
New Hampshire,1029000,992000,752000,688000
New Jersey,6729000,5929000,4326000,3670000
New Mexico,1554000,1426000,979000,878000
New York,15066000,13081000,8886000,7676000
North Carolina,7263000,6711000,5294000,4624000
North Dakota,528000,515000,384000,328000
Ohio,8751000,8550000,6076000,5395000
Oklahoma,2809000,2734000,1805000,1431000
Oregon,2999000,2807000,2086000,1897000
Pennsylvania,9848000,9451000,6794000,5824000
Rhode Island,818000,751000,552000,469000
South Carolina,3516000,3381000,2479000,2187000
South Dakota,616000,606000,454000,371000
Tennessee,4849000,4678000,3211000,2606000
Texas,18642000,16062000,10750000,8643000
Utah,1916000,1793000,1137000,1022000
Vermont,496000,487000,356000,307000
Virginia,6095000,5646000,4210000,3778000
Washington,5230000,4833000,3533000,3172000
West Virginia,1453000,1443000,983000,689000
Wisconsin,4351000,4247000,3318000,3128000
Wyoming,426000,419000,268000,247000

In [9]:
df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

/tmp/ipykernel_31463/172697960.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

                   State  Citizen Population  Confirmed Voters
0                Alabama             3480000           2154000
1                 Alaska              495000            289000
2                Arizona             4315000           2412000
3               Arkansas             2110000           1124000
4             California            23418000          13463000
5               Colorado             3543000           2495000
6            Connecticut             2500000           1569000
7               Delaware              642000            430000
8   District Of Columbia              461000            351000
9                Florida            13326000           8107000
10               Georgia             6738000           4168000
11                Hawaii              930000            481000
12                 Idaho             1064000            680000
13              Illinois             8831000           5428000
14               Indiana             4724000           2801000
15                  Iowa             2232000           1548000
16                Kansas             1974000           1249000
17              Kentucky             3193000           1895000
18             Louisiana             3239000           2149000
19                 Maine             1020000            699000
20              Maryland             4006000           2610000
21         Massachusetts             4773000           3382000
22              Michigan             7228000           4831000
23             Minnesota             3903000           2859000
24           Mississippi             2130000           1588000
25              Missouri             4409000           2818000
26               Montana              754000            495000
27              Nebraska             1297000            799000
28                Nevada             1808000           1048000
29         New Hampshire              992000            688000
30            New Jersey             5929000           3670000
31            New Mexico             1426000            878000
32              New York            13081000           7676000
33        North Carolina             6711000           4624000
34          North Dakota              515000            328000
35                  Ohio             8550000           5395000
36              Oklahoma             2734000           1431000
37                Oregon             2807000           1897000
38          Pennsylvania             9451000           5824000
39          Rhode Island              751000            469000
40        South Carolina             3381000           2187000
41          South Dakota              606000            371000
42             Tennessee             4678000           2606000
43                 Texas            16062000           8643000
44                  Utah             1793000           1022000
45               Vermont              487000            307000
46              Virginia             5646000           3778000
47            Washington             4833000           3172000
48         West Virginia             1443000            689000
49             Wisconsin             4247000           3128000
50               Wyoming              419000            247000

In [10]:
new_df = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()
new_df = new_df.sort_values(by=['Citizen Population'], ascending=False)
new_df.head(5)

/tmp/ipykernel_31463/325821807.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

           State  Citizen Population  Confirmed Voters
4     California            23418000          13463000
43         Texas            16062000           8643000
9        Florida            13326000           8107000
32      New York            13081000           7676000
38  Pennsylvania             9451000           5824000

## Let's look at Voting per Age bucket

In [11]:
new_df = df.groupby("Age")['Citizen Population','Confirmed Voters'].sum().reset_index()
# new_df = new_df.sort_values(by=['Citizen Population'], ascending=False)
new_df

/tmp/ipykernel_31463/3912788721.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby("Age")['Citizen Population','Confirmed Voters'].sum().reset_index()

        Age  Citizen Population  Confirmed Voters
0  18 to 24            27537000          11351000
1  25 to 34            35474000          18978000
2  35 to 44            34266000          20965000
3  45 to 64            76641000          52013000
4       65+            41167000          29645000

## lets' add another column % Voter Population

In [12]:
new_df['% Voter Population'] = new_df['Confirmed Voters'] / new_df['Citizen Population'] * 100

In [13]:
new_df

        Age  Citizen Population  Confirmed Voters  % Voter Population
0  18 to 24            27537000          11351000           41.220903
1  25 to 34            35474000          18978000           53.498337
2  35 to 44            34266000          20965000           61.183097
3  45 to 64            76641000          52013000           67.865764
4       65+            41167000          29645000           72.011563

In [14]:
df

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters
0,Alabama,18 to 24,439000,428000,212000,155000
1,Alabama,25 to 34,576000,535000,359000,271000
2,Alabama,35 to 44,615000,582000,410000,330000
3,Alabama,45 to 64,1297000,1275000,1051000,939000
4,Alabama,65+,667000,660000,523000,459000
...,...,...,...,...,...,...
250,Wyoming,18 to 24,56000,55000,21000,18000
251,Wyoming,25 to 34,73000,71000,44000,39000
252,Wyoming,35 to 44,68000,66000,41000,36000
253,Wyoming,45 to 64,155000,154000,101000,95000
254,Wyoming,65+,74000,73000,61000,59000

In [15]:
df['% Voter Population'] = df['Confirmed Voters'] / df['Citizen Population'] * 100

In [16]:
df

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters,% Voter Population
0,Alabama,18 to 24,439000,428000,212000,155000,36.214953
1,Alabama,25 to 34,576000,535000,359000,271000,50.654206
2,Alabama,35 to 44,615000,582000,410000,330000,56.701031
3,Alabama,45 to 64,1297000,1275000,1051000,939000,73.647059
4,Alabama,65+,667000,660000,523000,459000,69.545455
...,...,...,...,...,...,...,...
250,Wyoming,18 to 24,56000,55000,21000,18000,32.727273
251,Wyoming,25 to 34,73000,71000,44000,39000,54.929577
252,Wyoming,35 to 44,68000,66000,41000,36000,54.545455
253,Wyoming,45 to 64,155000,154000,101000,95000,61.688312
254,Wyoming,65+,74000,73000,61000,59000,80.821918

## Lets find the state with the highest '% Voter Population'

at the state level

In [17]:
df_state_level = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

df_state_level.head(5)

/tmp/ipykernel_31463/751649940.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_state_level = df.groupby("State")['Citizen Population','Confirmed Voters'].sum().reset_index()

        State  Citizen Population  Confirmed Voters
0     Alabama             3480000           2154000
1      Alaska              495000            289000
2     Arizona             4315000           2412000
3    Arkansas             2110000           1124000
4  California            23418000          13463000

In [18]:
# re code to calculate the '% Voter Population' - at state level / total pop
# df_state_level['% Voter Population - State Level'] = df_state_level['Confirmed Voters'] / df_state_level['Citizen Population'] * 100

In [19]:
df_state_level['% Voter Population'] = df_state_level['Confirmed Voters'] / df_state_level['Citizen Population'] * 100

In [20]:
df_state_level = df_state_level.sort_values(by=['% Voter Population'], ascending=False)

## the Top 5 states with highest '% Voter Population'

We see District of Columbia or D.C. at the top of the list with a voter population percentage of 76.1%.

That makes sense.

It's the nation's capital.

It's the political heart of the country.

But then you also have states like Mississippi and Wisconsin, which, you know, may come as a surprise
to some.

Notes for Pandas Pivot table

https://www.youtube.com/watch?v=5yFox2cReTw

how to sort in pandas pivot table

https://www.statology.org/pandas-pivot-table-sort/

Notes to add a calculated field to a pandas pivot table

https://stackoverflow.com/questions/70281086/how-to-add-calculated-fields-in-pandas-pivot-table

In [21]:
pivot_StateLevel_VoterPopPer = pd.pivot_table(data=df, index=['State','Age'], values=['Citizen Population', 'Confirmed Voters'], aggfunc='sum')
p = pivot_StateLevel_VoterPopPer.sort_values(by=['Citizen Population'], ascending=False).reset_index()
p['% Voter Population'] = p['Confirmed Voters'] / p['Citizen Population']
pd.pivot_table(data=p, index=['State','Age']).sort_values(by=['State','% Voter Population'], ascending=[False,False])

                  % Voter Population  Citizen Population  Confirmed Voters
State   Age
Wyoming 65+                 0.808219               73000             59000
        45 to 64            0.616883              154000             95000
        25 to 34            0.549296               71000             39000
        35 to 44            0.545455               66000             36000
        18 to 24            0.327273               55000             18000
...                              ...                 ...               ...
Alabama 45 to 64            0.736471             1275000            939000
        65+                 0.695455              660000            459000
        35 to 44            0.567010              582000            330000
        25 to 34            0.506542              535000            271000
        18 to 24            0.362150              428000            155000

[255 rows x 3 columns]

In [22]:
df_state_level.head()

,State,Citizen Population,Confirmed Voters,% Voter Population
8,District Of Columbia,461000,351000,76.138829
24,Mississippi,2130000,1588000,74.553991
49,Wisconsin,4247000,3128000,73.651990
23,Minnesota,3903000,2859000,73.251345
21,Massachusetts,4773000,3382000,70.856903

## the Bottom 5 states with lowest '% Voter Population'

Now, scrolling down on the other end of the spectrum, we see West Virginia, Hawaii, Oklahoma and
Arkansas.

Now, this isn't necessarily the time or place to dig much deeper into why these trends are the way
they are.

So what actually causes the West Virginia population to be less likely to convert into voters compared
to Massachusetts or Colorado, for instance?

In [23]:
df_state_level.tail()

            State  Citizen Population  Confirmed Voters  % Voter Population
43          Texas            16062000           8643000           53.810235
3        Arkansas             2110000           1124000           53.270142
36       Oklahoma             2734000           1431000           52.340892
11         Hawaii              930000            481000           51.720430
48  West Virginia             1443000            689000           47.747748

# grouping by state and age level

In [ ]:
# new_df = df.groupby("Age")['Citizen Population','Confirmed Voters'].sum().reset_index()
# # new_df = new_df.sort_values(by=['Citizen Population'], ascending=False)
# new_df

In [37]:
pivot1 = pd.pivot_table(data=df, index=['State','Age'])
pivot1

                  % Voter Population  Citizen Population  Confirmed Voters  \
State   Age
Alabama 18 to 24           36.214953              428000            155000
        25 to 34           50.654206              535000            271000
        35 to 44           56.701031              582000            330000
        45 to 64           73.647059             1275000            939000
        65+                69.545455              660000            459000
...                              ...                 ...               ...
Wyoming 18 to 24           32.727273               55000             18000
        25 to 34           54.929577               71000             39000
        35 to 44           54.545455               66000             36000
        45 to 64           61.688312              154000             95000
        65+                80.821918               73000             59000

                  Registered Voters  Total Population
State   Age
Alabama 18 to 24             212000            439000
        25 to 34             359000            576000
        35 to 44             410000            615000
        45 to 64            1051000           1297000
        65+                  523000            667000
...                             ...               ...
Wyoming 18 to 24              21000             56000
        25 to 34              44000             73000
        35 to 44              41000             68000
        45 to 64             101000            155000
        65+                   61000             74000

[255 rows x 5 columns]

In [38]:
pivot2 = pd.pivot_table(data=df, index=['State','Age'], values=['Confirmed Voters', 'Citizen Population', '% Voter Population'])
pivot2

                  % Voter Population  Citizen Population  Confirmed Voters
State   Age
Alabama 18 to 24           36.214953              428000            155000
        25 to 34           50.654206              535000            271000
        35 to 44           56.701031              582000            330000
        45 to 64           73.647059             1275000            939000
        65+                69.545455              660000            459000
...                              ...                 ...               ...
Wyoming 18 to 24           32.727273               55000             18000
        25 to 34           54.929577               71000             39000
        35 to 44           54.545455               66000             36000
        45 to 64           61.688312              154000             95000
        65+                80.821918               73000             59000

[255 rows x 3 columns]

In [24]:
# find list of unique states

df.head()

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters,% Voter Population
0,Alabama,18 to 24,439000,428000,212000,155000,36.214953
1,Alabama,25 to 34,576000,535000,359000,271000,50.654206
2,Alabama,35 to 44,615000,582000,410000,330000,56.701031
3,Alabama,45 to 64,1297000,1275000,1051000,939000,73.647059
4,Alabama,65+,667000,660000,523000,459000,69.545455

In [25]:
df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [26]:
list_of_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming']

# Calculated Field '% Voter Population' per state / country

In [28]:
# 'Confirmed Voters' total

Total_States_Voter_Population = df['Confirmed Voters'].sum()
Total_States_Voter_Population

132952000

In [32]:
df[df['State'] == 'New Jersey']

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters,% Voter Population
150,New Jersey,18 to 24,792000,707000,379000,276000,39.038190
151,New Jersey,25 to 34,1068000,842000,556000,475000,56.413302
152,New Jersey,35 to 44,1186000,939000,655000,536000,57.082002
153,New Jersey,45 to 64,2424000,2217000,1732000,1545000,69.688769
154,New Jersey,65+,1259000,1224000,1004000,838000,68.464052

In [43]:
state_df = df[df['State'] == 'New Jersey']

In [44]:
NJ_Confirmed_voters = state_df['Confirmed Voters'].sum()

In [47]:
# StateOverALL_PercentVoterPop = f"{round((NJ_Confirmed_voters / Total_States_Voter_Population * 100), 2)} %"
StateOverALL_PercentVoterPop = round((NJ_Confirmed_voters / Total_States_Voter_Population * 100), 2)

StateOverALL_PercentVoterPop

2.76

In [48]:
state_df['StateOverCountry_PercentVoterPop'] = StateOverALL_PercentVoterPop

/tmp/ipykernel_31463/895672002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df['StateOverCountry_PercentVoterPop'] = StateOverALL_PercentVoterPop

In [49]:
state_df

,State,Age,Total Population,Citizen Population,Registered Voters,Confirmed Voters,% Voter Population,StateOverCountry_PercentVoterPop
150,New Jersey,18 to 24,792000,707000,379000,276000,39.038190,2.76
151,New Jersey,25 to 34,1068000,842000,556000,475000,56.413302,2.76
152,New Jersey,35 to 44,1186000,939000,655000,536000,57.082002,2.76
153,New Jersey,45 to 64,2424000,2217000,1732000,1545000,69.688769,2.76
154,New Jersey,65+,1259000,1224000,1004000,838000,68.464052,2.76